In [3]:
from pathlib import Path
import pandas as pd

In [4]:
PROCESSED_DATA = Path('..') / 'data' / 'processed'

In [28]:
csv_name = 'taxonomy.csv'
csv_path = PROCESSED_DATA / csv_name

taxonomy = pd.read_csv(csv_path).fillna('')

ids = taxonomy.sample_ids.str.split(';', expand=True)
ids.rename(
    columns={
        0: 'sample_id_1',
        1: 'sample_id_2',
        2: 'sample_id_3'
    },
    inplace=True)

has_2_ids = ids['sample_id_2'].notna()

with_2_ids = ids[has_2_ids]
with_2_ids.head()

,sample_id_1,sample_id_2,sample_id_3
1666,NY: Fay 209,a81c64db-7424-469e-bc68-34c5c8d005d8,None
1987,TEX: Cuevas 78,TEX: Ballesteros 344,None
1998,NY: Martinez-C. D000804,NY: Irwin 26242,None
2000,NY: Reitsma 2032,NY: Etuge 188,None
3083,26f8ca56-2e7b-42f2-8670-61eb4071edd1,26eed0b8-6b7c-4a13-aa32-7f69917d9672,None